{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a new rent {% endblock %}</h1>

<div class="continer">
    <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.client_id.label }}
            {{ form.client_id(class="form-control") }}
            {% for error in form.client_id.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div> 
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.vin_number.label }}
            {{ form.vin_number(class="form-control") }}
            {% for error in form.vin_number.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div> 
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.begin_date.label }}
            {{ form.begin_date(class="form-control") }}
            {% for error in form.begin_date.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div> 
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.end_date.label }}
            {{ form.end_date(class="form-control") }}
            {% for error in form.end_date.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div> 
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}