{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create new parking {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="vin_number">VIN</label>
        <input type="text" name="vin_number"
               placeholder="vin_number" class="form-control"
               value="{{ request.form['vin_number'] }}">
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}