{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a new parking {% endblock %}</h1>

<div class="continer">
    <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.vin_number.label }}
            {{ form.vin_number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}