{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Parking {% endblock %}</h1>    
    {% for park in parking %}
        <ul style="font-size: 30px;">
            <a href="{{ url_for('parking', parking_id=park.parking_id) }}">
                №{{ park.parking_id }}
                {{ park.vin_number }}
            </a>
            <a class="badge badge-warning"href="{{ url_for('edit_parking', parking_id=park.parking_id)  }}">Edit</a>
        </ul>
        {% endfor %}
{% endblock %}