{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Clients {% endblock %}</h1>    
    {% for client in clients %}
        <ul style="font-size: 30px;">
            <a href="{{ url_for('client', client_id=client.client_id) }}">
                {{ client.client_id }}
                {{ client.firstname }}
                {{ client.surname }}
            </a>
            <a class="badge badge-warning"href="{{ url_for('edit_client', client_id=client.client_id)  }}">Edit</a>
        </ul>
        {% endfor %}
{% endblock %}