<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>{% block titlle %}</h1>
        <h1>Editing {{ client.firstname }} {{ client.surname }}</h1>
        {% endblock %}
        <h2>Client Name: {{ client.firstname }} </h2>
        <h2>Client Name: {{ client.surname }}</h2>
        <h3>Client ID: {{ client.client_id }}</h3>
        {% if client.violation == 0 %}
        <h3>Violation: false </h3>
        {% else %}
        <h3>Violation: true </h3>
        {% endif %}
        <a href="client-list">Back to client list</a>
    {% endblock %}
</body>
</html>