{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit {{ client.firstname }} {{ client.surname }} {% endblock %}</h1>
<div class="continer">
    <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.firstname.label }}
            {{ form.firstname(class="form-control") }}
            {% for error in form.firstname.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div> 
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.surname.label }}
            {{ form.surname(class="form-control") }}
            {% for error in form.surname.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div> 
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.violation.label }}
            {{ form.violation(class="form-control") }}
            {% for error in form.violation.errors %}
            <div class="alert alert-danger">
                 {{ error }}
            </div> 
            {% endfor%}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            <a class="btn btn-primary" href="../../clients">Cancel</a>
            {% if client.client_id %}
            {{ form.delete(class="btn btn-danger btn-medium") }}
            {% endif %}
        </div>
    </form>
</div>
<hr>
{% endblock %}