{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname"
               placeholder="first name" class="form-control"
               value="{{ request.form['firstname'] }}"></input>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" name="surname"
               placeholder="surname" class="form-control"
               value="{{ request.form['surname'] }}"></input>
    </div>
    <legend>Violation</legend>
    <p>Select violations if exists.</p>
    <div>
        <input type="radio" id="available"
               name="violation" value="1">
        <label for="available">Available</label>

        <input type="radio" id="missing"
               name="violation" value="0">
        <label for="missing">Missing</label>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}