{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a new client {% endblock %}</h1>

<div class="continer">
    <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.vin_number.label }}
            {{ form.vin_number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.brand.label }}
            {{ form.brand(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
        </div>
        <div class="form-group">
            {% for subfield in form.condition %}
            <tr>
                <td>{{ subfield }} </td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}