{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ post['vin_number'] }} {{ post['brand'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="vin-number">VIN number</label>
        <input type="text" name="vin-number"
               placeholder="VIN" class="form-control"
               value="{{ request.form['vin_number'] or post['vin_number'] }}"></input>
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" name="brand"
               placeholder="brand" class="form-control"
               value="{{ request.form['brand'] or post['brand'] }}"></input>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price"
               placeholder="price" class="form-control"
               value="{{ request.form['price'] or post['price'] }}"></input>
    </div>
    <legend>Condition</legend>
    <p>Select condition:</p>
    <div>
        {% if request.form['condition'] or post['condition'] == 0 %}
        <input type="radio" id="serviceable1"
               name="condition" value="0" checked>
        <label for="serviceable1">Serviceable</label>

        <input type="radio" id="defective1"
        name="condition" value="1">
        <label for="defective1">Defective</label>
        {% else %}
        <input type="radio" id="serviceable2"
               name="condition" value="0" checked>
        <label for="serviceable2">Serviceable</label>

        <input type="radio" id="defective2"
        name="condition" value="1" checked>
        <label for="defective2">Defective</label>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<hr>
<form action="{{ url_for('delete_vehicle', vin_number=post['vin_number']) }}" method="POST">
    <input type="submit" value="Delete Vehicle"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
</form>
{% endblock %}