{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit {{ vehicle.brand }} {% endblock %}</h1>
<div class="continer">
    <form class='form-horizontal' method='POST' action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.vin_number.label }}
            {{ form.vin_number(class="form-control") }}
            {{ form.vin_number.errors if form.vin_number.errors }}
        </div>
        <div class="form-group">
            {{ form.brand.label }}
            {{ form.brand(class="form-control") }}
            {{ form.brand.errors if form.brand.errors }}
        </div>
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
            {{ form.price.errors if form.price.errors }}
        </div>
        <div class="form-group">
            {% for subfield in form.condition %}
            <tr>
                <td>{{ subfield }} </td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <td colspan="3">
                {% if vehicle.vin_number %}
                {{ form.delete(class="btn btn-danger btn-medium") }}
                {% endif %}
            </td>


        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            <a class="btn btn-primary" href="../../vehicles">Cancel</a>
        </div>
    </form>
</div>
<hr>
{% endblock %}