{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ post['vin-number'] }} {{ post['brand'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="vin-number">VIN number</label>
        <input type="text" name="vin-number"
               placeholder="VIN" class="form-control"
               value="{{ request.form['vin_number'] or post['vin_number'] }}"></input>
    </div>
    <div class="form-group">
        <label for="brand">Surname</label>
        <input type="text" name="brand"
               placeholder="brand" class="form-control"
               value="{{ request.form['brand'] or post['brand'] }}"></input>
    </div>
    <div class="form-group">
        <label for="price">Surname</label>
        <input type="text" name="price"
               placeholder="price" class="form-control"
               value="{{ request.form['price'] or post['price'] }}"></input>
    </div>
    <legend>Violation</legend>
    <p>Select violations if exists.</p>
    <div>
        <input type="radio" id="defective"
               name="condition" value="1">
        <label for="defective">Defective</label>

        <input type="radio" id="serviceable"
               name="condition" value="0">
        <label for="serviceable">Serviceable</label>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<hr>
<form action="{{ url_for('delete_vehicle', vin-number=post['vin']) }}" method="POST">
    <input type="submit" value="Delete Vehicle"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
</form>
{% endblock %}