{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Vehicles {% endblock %}</h1>    
    {% for vehicle in vehicles %}
        <ul style="font-size: 30px;">
            <a href="{{ url_for('vehicle', vin_number=vehicle.vin_number) }}">
                {{ vehicle.vinumber }}
                {{ vehicle.brand }}
                {{ vehicle.price }}
            </a>
            <a class="badge badge-warning"href="{{ url_for('edit_vehicle', vin_number=vehicle.vin_number)  }}">Edit</a>
        </ul>
        {% endfor %}
{% endblock %}