<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>{% block titlle %}</h1>
        <h1>{{ vehicle.brand }}</h1>
        {% endblock %}
        <h2>Vehicle VIN: {{ vehicle.vin_number }} </h2>
        <h2>Vehicle Brand: {{ vehicle.brand }}</h2>
        <h3>Vehicle Prive: {{ vehicle.price }}</h3>
        {% if vehicle.condition == 0 %}
        <h3>Condition: available </h3>
        {% else %}
        <h3>Condition: missing </h3>
        {% endif %}
        <a href="vehicle-list">Back to vehicle list</a>
    {% endblock %}
</body>
</html>