{% extends 'base.html' %}
{% block content %}
<h2>Statistics</h2>
<ul class="zebra">
    <li>
        <p>Clients Amount: {{ clients_amount }}</p>
        <ul class="zebra">
            <li>
                <p>The most popular client: {{ best_client_name }} {{ best_client_surname }} {{best_client_id}} ID</p>
            </li>
            <li>
                <p>The most popular clients Rent Amount: {{ best_client_rents_amount }}</p>
            </li>
        </ul>
    </li>
    <li>
        <p><b>Vehicles Amount:</b> {{ vehicles_amount }}</p>
        <ul class="zebra">
            <li>
                <p>Broken: {{ broken_cars }}</p>
            </li>
            <li>
                <p>Serviceable: {{ working_cars }}</p>
            </li>
        </ul>
    </li>
    <li>
        <p>Parking Amount: {{ parkings_amount }}</p>
    </li>
    <li>
        <p>Rents was offered: {{ rents_amount }}</p>
    </li>
</ul>
{% endblock %}